## Sleep for this amount of time in seconds before new loop
refresh_rate=60

## Crypto Money symbol you want to trade on
## Must be seperated by a comma without any space between words. Ex: symbols="BTC,ETH"
symbols="BTC,ETH"

## Account ID's for each crypto symbol declared below
account_id_btc=
account_id_eth=

# EUR account ID
# This account ID is needed to verify that you have enough funds in EUR before buying cryptos
account_id_eur=

## Low limit of the euro wallet to stop buying
min_eur=500

## Get these from Coinbase on your account
API_KEY="...";
CLIENT_SECRET="...";

## Period to check before buying crypto. In days
check_period=3

## Percentage used to start trading a crypto
## Indicates buy sensibility
percentage=95

buy_amount=50
