## Sleep for this amount of time in seconds before new loop
refresh_rate=60

## Crypto Money symbol you want to trade on
## Must be seperated by a comma without any space between words. Ex: symbols="BTC,ETH"
symbols="BTC,ETH"

## Low limit of the euro wallet to stop buying
min_eur=500